.app-modal-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    background: #ebebebf7;
    border-radius: 15px;
    overflow: hidden;
    max-width: 500px;
    width: 100%;
}


@media(max-width:800px){
    .app-modal-body{
        max-width:600px;
    }
}
@media(max-width:500px) {
    .app-modal-body {
        width:auto;
    }
}